{% extends 'base.html' %}
{%  include '' %}
{% load humanize %}
{% load str_to_dic %}


{% block leftList %}

{% endblock %}


{%  block content %}



  <h2>Orders List</h2>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    });
</script>


  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Adress</th>
        <th>Order details</th>
        <th>Total Sum</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
         {% for order in obj_in_orders %}

      <tr >
         <td data-toggle="collapse" data-target="#demo_{{ order.id }}" class="accordion-toggle"><span class="glyphicon glyphicon-eye-open"  data-toggle="tooltip" data-placement="top" title="Click to see details"></span></td>
        <td > <a href="/orders/order_detail/?o={{ order.id }}"  data-toggle="tooltip" data-placement="top" title="Click to edit">{{ order.id }} </a></td>

        <td>{{ order.user_name }}</td>
        <td> {{ order.user_mail }}</td>
        <td> {{ order.user_phone }}</td>
        <td> {{ order.user_adress }}</td>
        <td> {{ order.order_id }}</td>
        <td>{{ order.total|intcomma }} uah</td>
        <td>{{ order.date }}</td>
        <td>{{ order.status }}</td>


      </tr>
        <tr >
            <td colspan="9" class="hiddenRow"><div class="accordian-body collapse" id="demo_{{ order.id }}">
                 <table class="table table-hover">
         <thead>
      <tr>
        <th>ID</th>
        <th>Price</th>
        <th>Model</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Image</th>

      </tr>
    </thead>
  {%  for ii in order.shoe_size_id %}
                <tr>


            {% for param in ii.shoeparameters_set.all %}
                {% if user.is_staff %}
        <td><a href="/orders/order_detail/?o={{ order.id }}">{{ ii.id }} </a></td>
                {% else %}
                 <td>{{ ii.id }}</td>
                {% endif %}
        <td>{{ param.price }} </td>
        <td> {{ param.model_of_shoe }}</td>
        <td> {{ ii.size }}</td>
                {% with order.shoes_quantity|str_to_dict as dict %}
       {%  for key, value in dict.iteritems %}

        {% if ii.id|add:'0' == key|add:'0' %} <td>{{ value }} штук.</td>
           {%  endif %}
           {%  endfor %}{% endwith %}
        <td> <img src="/media/{{ param.main_image }}" width="96px"> </td>


      </tr>
                   {% endfor %}
        {% endfor %}
                </table>


            </div> </td>
        </tr>



        {% endfor %}


  </tbody>
  </table>


{%  endblock %}