{% extends 'base.html' %}
{%  include '' %}

{% block leftList %}

{% endblock %}


{%  block content %}

    <div class="list-group" style="border:thin">
         <ul class="list-group">
        {{ total_sum.total }}
    {%  for ord in obj_orders %}

           <li class="list-group-item list-group-item-success"> <span style="margin: 0 10px 0 0; ">
               <b>покупець:</b> {{ ord.user_name }}</span>

               <a href="#" onclick="showSpoiler(this);"> <b>номер замовлення:</b> {{ ord.id }}</a>

               <span style="border: thin"> <b>сума замовлення:</b> {{ ord.total }}</span></li>

           <li class="list-group-item list-group-item-info">{{ ord.user_phone }} </li>
         <div class="inner" >
      {% for new_ord in ord.order_id.all %}
          <li class="list-group-item list-group-item-info">модель: {{ new_ord.name }} ціна: {{ new_ord.price }} </li>
       <li class="list-group-item list-group-item-warning"> <img src="/media/{{ new_ord.main_image }}" width="120px" ></li>
          {% endfor %}
  </div>
        <br>
    {%  endfor %}

        </ul>
    </div>
   </div>
    <p>{{ all_price }}</p>


    <div class="col-md-3">
  <ul class="nav nav-pills nav-stacked">
      {%  for ord in obj_orders %}

  <li class="active"><a href="#">Home</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu 1
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Submenu 1-1</a></li>
      <li><a href="#">Submenu 1-2</a></li>
      <li><a href="#">Submenu 1-3</a></li>
    </ul>
  </li>
  <li><a href="#">Menu 2</a></li>
  <li><a href="#">Menu 3</a></li>
</ul>


      {% endfor %}
  </ul>
     total sum {{ total_sum.total }}
</div>



{%  endblock %}