{% extends 'base.html' %}
{%  include '' %}

{% block leftList %}

{% endblock %}


{%  block content %}

    <div class="list-group" style="border:thin">
         <ul class="list-group">
        {{ total_sum.total }}
    {%  for ord in obj_orders %}

           <li class="list-group-item list-group-item-success"> <span style="margin: 0 10px 0 0; ">
               <b>покупець:</b> {{ ord.user_name }}</span>

               <a href="#" onclick="showSpoiler(this);"> <b>номер замовлення:</b> {{ ord.id }}</a>

               <span style="border: thin"> <b>сума замовлення:</b> {{ ord.total }}</span></li>

           <li class="list-group-item list-group-item-info">{{ ord.user_phone }} </li>
         <div class="inner" >
      {% for new_ord in ord.order_id.all %}
          <li class="list-group-item list-group-item-info">модель: {{ new_ord.name }} ціна: {{ new_ord.price }} </li>
       <li class="list-group-item list-group-item-warning"> <img src="/media/{{ new_ord.main_image }}" width="120px" ></li>
          {% endfor %}
  </div>
        <br>
    {%  endfor %}

        </ul>
    </div>
   </div>
    <p>{{ all_price }}</p>

{%  endblock %}