{% extends 'base.html' %}
{%  include '' %}

{% block leftList %}
{% for index in category %}

    <a href="/?c={{ index.name }}" class="list-group-item">   {{ index.name }}</a>

 {% endfor %}
{% endblock %}


{% block busket %}
    {% include 'catalog/busket.html' %}
{% endblock %}



{%  block content %}

    <div>
        {%  for pic in images_few %}
            <img src="/media/{{ pic.main_image }}" width="480px" /> <br>

            {% for pic_few in pic.image.all %}
                <img src="/media/{{ pic_few.images }}" width="260px" />
            {% endfor %}
            <br>
            <hr>
            <hr>
            <br>
            <div class="product_info">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">Name: {{ pic.name }}</li>
                <li class="list-group-item list-group-item-info">price: {{ pic.price }}</li>
                <li class="list-group-item list-group-item-info">description: {{ pic.description }}</li>
                <li class="list-group-item list-group-item-info">quantity: {{ pic.quantity }}</li>

            </ul>
            </div>
        {% endfor %}
    </div>
    <div>
        {%  for i in pictures_shoes %}
        <img src="/media/{{ i }}" width="240px" />
        {% endfor %}

    <!--
    ---------------------------------------------------------------------------------------------------------------
    -->
    <div class="list-group" style="border:thin">
         <ul class="list-group">
        {{ total_sum.total }}
    {%  for ord in users_list_orders %}

           <li class="list-group-item list-group-item-success"> <span style="margin: 0 10px 0 0; ">
               <b>покупець:</b> {{ ord.user_name }}</span>
               <span style="border: thin"> <b>номер замовлення:</b> {{ ord.id }}</span>
               <span style="border: thin"> <b>сума замовлення:</b> {{ ord.total }}</span></li>
           <li class="list-group-item list-group-item-info">{{ ord.user_phone }} </li>
      {% for new_ord in ord.order_id.all %}
          <li class="list-group-item list-group-item-info">модель: {{ new_ord.name }} ціна: {{ new_ord.price }} </li>
       <li class="list-group-item list-group-item-warning"> <img src="/media/{{ new_ord.main_image }}" width="120px" ></li>
          {% endfor %}

        <br>
    {%  endfor %}
        </ul>
    </div>
   </div>
    <p>{{ all_price }}</p>
{%  endblock %}