{% extends 'base.html' %}


{% block content %}


{% for ord in basket_info %}

    <div class="media" xmlns="http://www.w3.org/1999/html">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="/media/{{ ord.shoes_id.main_image }}"  width="64px" alt="...">
    </a>

  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ ord.shoes_id.name }}</h4>

  </div>
      <div class="media-right">
    <h4 class="media-heading">{{ ord.shoes_id.price }}</h4>

  </div>
    <div class="media-right">
        <label for="{{ ord.shoes_id.id }}">Кількість</label>
        <input class="ShoeQuan" onchange="updateInput()" oninput="maxLengthCheck(this)" maxlength = "2" id="{{ ord.shoes_id.id }}" min="1" type="number"
               value="1" max="{{ ord.shoes_id.quantity }}"></div>
    </div>

<script>
  function maxLengthCheck(object)
  {
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  }
</script>

{% endfor %}

    <li class="list-group-item">Загальна сума {{ full_price }}</li>

    <form action="/orders/new/" method="POST">
    <label for="your_name">Your name: </label>
    <ul>
       {% csrf_token %}
        {{ user_info.non_field_errors }}
        {{ user_info.user_name.label_tag }}{{ user_info.user_name }}
      <br>
        {{ user_info.user_mail.label }}{{ user_info.user_mail }}
        <br> {{ user_info.user_mail.errors }}
        <br>
        {{ user_info.user_phone.label }}{{ user_info.user_phone }}
        <br> {{ user_info.user_phone.errors }}
        {{ user_info.user_address.label }}{{ user_info.user_address }}
        <br>{{ user_info.user_address.errors }}
 <script>
    function updateInput(){

        var elements = document.getElementsByClassName("ShoeQuan");
        var names = {};
        for(var i=0; i<elements.length; i++) {
            names[elements[i].id] = elements[i].value;
        }
    // console.log(names);
     document.getElementById("id_shoes_quantity").value = JSON.stringify(names);
    }


</script>

 <input id="id_shoes_quantity" maxlength="550" name="shoes_quantity"  type="text"/>
<script>

            var elements = document.getElementsByClassName("ShoeQuan");
        var names = {};
        for(var i=0; i<elements.length; i++) {
            names[elements[i].id] = elements[i].value;
        }

       document.getElementById("id_shoes_quantity").value = JSON.stringify(names);

</script>

    <div style="display: none;">
     <br />



        {{ user_info.order_id.label }}
        <select multiple="multiple" id="id_order_id" name="order_id">
        {% for ord in basket_info %}
            <option value="{{ ord.shoes_id.id }}" selected="selected"> {{ ord.shoes_id.name }}</option>
        {% endfor %}
        </select>
    </div>

        </ul>
    <input type="submit" value="OK">
</form>


{% endblock %}

