{% extends 'base.html' %}
{% load pagination_tags %}


{% block leftList %}
 {%  include 'catalog/menu.html' %}


    <div class="dropdown" >
        <button class="btn btn-primary dropdown-toggle glyphicon glyphicon-filter" type="button" data-toggle="dropdown">filters
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/?price=price_big">від дорожчих</a></li>
            <li><a href="/?price=price_small">від дешевших</a></li>
        </ul>
    </div>

{% endblock %}




{% load humanize %}
{% block content %}


    {%  if bought_cook %}
       <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Nice</strong> <h3>Одиниця товару добавлена в корзину</h3>

    </div>
        {% endif %}


{% autopaginate shoes 5 %}
<div class="row">
    {% for shoe in shoes %}
    {%  for params in shoe.relation_to_shoes_params.all %}

     <div class="col-sm-5 col-md-4">
         <div class="thumbnail">
             <a href="/shoe_ind/{{ shoe.id }}/{{ params.id }}"><img src="media/{{ params.main_image }}" alt="..."></a>
         <div class="caption" >
                 Модель: <h4 style="display: inline;"> {{ params.model_of_shoe }}</h4> <br>
                 <span class="label label-success">{{ params.price|intcomma }} грн.</span>

                 {% for shoes_size_params in params.rel_to_size.all %}
                     {%  if shoes_size_params.quantity > 0 and not shoes_size_params.id in basket.2 and shoes_size_params.shoe_bool  %}

                        <h4 style="display: inline-block;"> <a href="/busket/?id={{ shoes_size_params.id }}" >
                        <span class="label label-primary">Купи мене!</span></a></h4>

                     {% elif shoes_size_params.id in basket.2 and shoes_size_params.shoe_bool %}
                         <span class="label label-info">В корзині</span>

                     {% elif shoes_size_params.quantity == 0 and shoes_size_params.shoe_bool %}
                         <span class="label label-warning">Розпродано</span>
                     {% endif %}
                 {% endfor %}
            </div>
         </div>
     </div>

    {%  endfor %}
    {% endfor %}
</div>
    <br>
<div class="row">
    {% paginate %}

</div>
{% if not shoes %}
    капці розкуплені
    {% endif %}

{% endblock %}



