

{% extends 'base.html' %}



{% block leftList %}
{#{% for index in category %}#}
{##}
{#    <a href="/?c={{ index.name }}" class="list-group-item">       {{ index.name }}</a>#}
{##}
{# {% endfor %}#}

{% endblock %}


 {% block busket %}
{% include 'catalog/busket.html' %}
 {% endblock %}




{% block content %}

REG PAGE

    <!--- {{ reg_form.as_p }} -->


         <form action="/registration/" method="POST" class="form-horizontal" role="form">
    {% csrf_token %}
    <label for="your_name">дані користувача : </label>
    <ul class="list-group">

        {{ reg_form.non_field_errors }}
       <li class="list-group-item-info"> {{ reg_form.username.label}}{{ reg_form.username }}</li>
        <li class="list-group-item-info" > {{ reg_form.password.label}}{{ reg_form.password }}</li>

       <li class="list-group-item-info"> {{ reg_form.email.label }}{{ reg_form.email }}</li>
        {{ reg_form.email.errors }}

        <li class="list-group-item-info"> {{ reg_form.first_name.label }}{{ reg_form.first_name }}</li>
        {{ reg_form.first_name.errors }}
       <li class="list-group-item-info" >{{ reg_form.last_name.label }}{{ reg_form.last_name }}</li>
        <br>{{ reg_form.last_name.errors }}

     <br />

     </ul>
         <input type="submit" value="OK" class="btn btn-default">

</form>

{% endblock %}



