{% extends 'base.html' %}
{% include '' %}

{% block leftList %}
    {% for index in category %}

        <a href="/?c={{ index.name }}" class="list-group-item">   {{ index.name }}</a>

    {% endfor %}
{% endblock %}




{% block content %}

    <div class="row">
        <div class="col-md-6">

                {% for param in indiv_shoe.relation_to_shoes_params.all %}

                    {% if param.id == params_id %}
                        <img src="/media/{{ param.main_image }}" width="480px" style="border: 1px solid lightgrey; "/>
                        <p>Available colors:</p>
                        {% for color in indiv_shoe.relation_to_shoes_params.all %}
                            <a href="/shoe_ind/{{ indiv_shoe.id }}/{{ color.id }}"><img src="/media/{{ color.main_image }}"
                                                                                  width="54px"
                                                                                  style="border: 5px dashed {{ color.color }};"
                                                                                  alt="..."></a>

                        {% endfor %}
                        <br>
                        <br>
                        <div class="col-sm-8">

                            {% for pic_few in param.relation_to_shoes_photos.all %}
                                <div class="col-md-5 col-md-offset-1" style="border: 1px solid lightgrey; ">
                                    <img src="/media/{{ pic_few.images }}" width="150px"/></div>
                            {% endfor %}

                        </div>
                        </div>

                        <div class="col-md-4">
                            <img src="/static/img/tov_garanat.jpg" width="300px"/>

                            <p> Mabyfacturer: {{ shoe.manufacturer }}</p>

                            <p>model: {{ param.model_of_shoe }}</p>
                            {% if param.new_price %}
                                <p>price: <strike>{{ param.price }}</strike> <b>{{ param.new_price }} uah</b></p>
                            {% else %}
                                <p>price: {{ param.price }} uah</p>
                            {% endif %}
                            <hr>
                            <p>material: {{ param.material }}</p>

                            <p>vkladka: {{ param.vkladka }}</p>
                            <hr>
                            <p>make order:</p>

                            <form action="/busket/" method="GET" class="form-horizontal col-md-6" role="form">
                                <div class="form-group ">
                                    <label for="sel1">choose a size:</label>
                                    <select class="form-control" name="id">

                                        {% for size in param.rel_to_size.all %}
                                            {% if size.quantity > 0 %}
                                                <option value="{{ size.id }}">{{ size.size }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Buy</button>

                                </div>
                            </form>

                        </div>
                        </div>

                    {% endif %}
            {% endfor %}

    <div>
        {% for i in pictures_shoes %}
            <img src="/media/{{ i }}" width="240px"/>
        {% endfor %}

        <!--
        ---------------------------------------------------------------------------------------------------------------
        -->
        {% for shoe in images_few %}

            <div class="col-sm-5 col-md-3">

                <div class="caption">
                    <p>{{ shoe.decription }}</p>

                    {% if shoe.quantity > 0 and not shoe.id in id_list %}
                        <a href="/busket/?id={{ shoe.id }}" class="btn btn-primary" role="button">Buy me</a> </p>
                    {% elif shoe.id in id_list %}
                        already in busket
                    {% else %}
                        <a href="/busket/?id={{ shoe.id }}" class="btn btn-primary disabled" role="button">nema</a> </p>
                    {% endif %}
                </div>
            </div>


        {% endfor %}
    </div>


    {% if user.is_staff %}
        <div>
             <td> <a class="btn btn-default" data-toggle="collapse" data-target="#demo_{{ indiv_shoe.id }}" class="accordion-toggle">Додати нову модель до існуюючої</a> </td>



                  <div class="accordian-body collapse" id="demo_{{ indiv_shoe.id }}">
                      <!--- START OF FORM EDIT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                      --->



         <form enctype="multipart/form-data" action="" method="POST" class="form-horizontal" role="form">
            {% csrf_token %}
            <input type="hidden" name="add_shoe" id="id_add_shoe" value="True">

            <div class="row">

                 <div class="form-group  col-md-3">

            <label for="id_model_of_shoe">{{ shoe_main_param.model_of_shoe.label }}</label>
            <input type="text" class="form-control" id="id_model_of_shoe" maxlength="200" name="model_of_shoe" value="{{ shoe_main_param.model_of_shoe.value }}"
                   placeholder="Номер моделі">

            {% if shoe_main_param.model_of_shoe.errors %}
                {% for error in shoe_main_param.model_of_shoe.errors %}
                   <strong><p style="font-size: small"> {{ error|escape }} </p></strong>
                {% endfor %}
            {% endif %}
             </div>
            </div><br>
            <div class="row">
                <div class="form-group col-md-3">

                    <label for="id_date_manufac">{{ shoe_main_param.date_manufac.label }}</label>
                    <input type="date" class="form-control" id="id_date_manufac" maxlength="200" name="date_manufac" value="{{ shoe_main_param.date_manufac.value }}"
                           placeholder="Назва моделі взуття">

                    {% if shoe_main_param.date_manufac.errors %}
                        {% for error in shoe_main_param.date_manufac.errors %}
                           <strong><p style="font-size: small"> {{ error|escape }} </p></strong>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-3 col-md-offset-1">

                    <label for="id_material">{{ shoe_main_param.material.label }}</label>
                    <input type="text" class="form-control" id="id_material" maxlength="200" name="material" value="{{ shoe_main_param.material.value }}"
                           placeholder="Виробник">

                    {% if shoe_main_param.material.errors %}
                        {% for error in shoe_main_param.material.errors %}
                           <strong><p style="font-size: small"> {{ error|escape }} </p></strong>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-3 col-md-offset-1">

                    <label for="id_vkladka">{{ shoe_main_param.vkladka.label }}</label>
                    <input type="text" class="form-control" id="id_vkladka" maxlength="200" name="vkladka" value="{{ shoe_main_param.vkladka.value }}"
                           placeholder="Номер моделі">
                     {{ shoe_main_param.vkladka.errors }}
                    {% if shoe_main_param.material.errors %}
                        {% for error in shoe_main_param.material.errors %}
                           <strong><p style="font-size: small"> {{ error|escape }} </p></strong>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group col-md-3">

                    <label for="id_color">{{ shoe_main_param.color.label }}</label>
                    <input type="text" class="form-control" id="id_color" maxlength="200" name="color" value="{{ shoe_main_param.color.value }}"
                           placeholder="Колір взуття">
                    {% if shoe_main_param.color.errors %}
                        {% for error in shoe_main_param.color.errors %}
                           <strong><p style="font-size: small"> {{ error|escape }} </p></strong>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-3 col-md-offset-1">

                    <label for="id_price">{{ shoe_main_param.price.label }}</label>
                    <input type="text" class="form-control" id="id_price" maxlength="200" name="price" value="{{ shoe_main_param.price.value }}"
                           placeholder="Цінна">
                    {% if shoe_main_param.price.errors  %}
                        {% for error in shoe_main_param.color.errors %}
                           <strong><p style="font-size: small"> {{ error|escape }} </p></strong>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-3 col-md-offset-1">

                    <label for="id_new_price">{{ shoe_main_param.new_price.label }}</label>
                    <input type="text" class="form-control" id="id_new_price" maxlength="200" name="new_price" value="{{ shoe_main_param.new_price.value }}"
                           placeholder="Можлива нова ціна">
                    {% if shoe_main_param.vkladka.errors %}
                        {% for error in shoe_main_param.vkladka.errors %}
                           <strong><p style="font-size: small"> {{ error|escape }} </p></strong>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <br>
                <div class="row">
                <div class="form-group col-md-3">

                    <label for="id_size">{{ shoes_size_form.size.label }}</label>
                    <input type="text" class="form-control" id="id_size" maxlength="200" name="size" value="{{ shoes_size_form.size.value }}"
                           placeholder="size">
                    {% if shoes_size_form.size.errors %}
                        {% for error in shoes_size_form.size.errors %}
                           <strong><p style="font-size: small"> {{ error|escape }} </p></strong>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-3 col-md-offset-1">
                    {{ shoes_size_form.height_shoe.errors }}
                    <label for="id_height_shoe">{{ shoes_size_form.height_shoe.label }}</label>
                    <input type="text" class="form-control" id="id_height_shoe" maxlength="200" name="height_shoe"
                           placeholder="height_shoe">
                </div>
                 <div class=" col-md-3 col-md-offset-1">
                    {{ shoes_size_form.height_heel.errors }}
                    <label for="id_height_heel">{{ shoes_size_form.height_heel.label }}</label>
                    <input type="text" class="form-control" id="id_height_heel" maxlength="200" name="height_heel"
                           placeholder="height_heel">
                </div>
                </div>
                <div class="row">
                <div class="form-group col-md-3 ">
                    {{ shoes_size_form.len_of_stelka.errors }}
                    <label for="id_len_of_stelka">{{ shoes_size_form.len_of_stelka.label }}</label>
                    <input type="text" class="form-control" id="id_len_of_stelka" maxlength="200" name="len_of_stelka"
                           placeholder="len_of_stelka">
                </div>
                <div class=" col-md-3 col-md-offset-1">
                    {{ shoes_size_form.len_of_feet.errors }}
                    <label for="id_len_of_feet">{{ shoes_size_form.len_of_feet.label }}</label>
                    <input type="text" class="form-control" id="id_len_of_feet" maxlength="200" name="len_of_feet"
                           placeholder="len_of_feet">
                </div>
                <div class="col-md-3 col-md-offset-1">

                    <label for="id_quantity">{{ shoes_size_form.quantity.label }}</label>
                    <input type="text" class="form-control" id="id_size" maxlength="200" name="quantity"
                           placeholder="Наявна кількість">

                    {% if shoes_size_form.quantity.errors %}
                        {% for error in shoes_size_form.quantity.errors %}
                           <strong><p style="font-size: small"> {{ error|escape }} </p></strong>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <br>
            <div class="row">
                <div class="form-group col-md-3">

                    {% if shoe_main_param.main_image.errors %}
                        {% for error in shoe_main_param.main_image.errors %}
                           <strong><p style="font-size: small"> {{ error|escape }} </p></strong>
                        {% endfor %}
                    {% endif %}
                    <label for="id_color">{{ shoe_main_param.main_image.label }}</label>

                        <script>
                            function readURL(input) {

                                if (input.files && input.files[0]) {
                                    var reader = new FileReader();

                                    reader.onload = function (e) {
                                        $('#upload-file-info').attr('src', e.target.result);
                                    };

                                    reader.readAsDataURL(input.files[0]);
                                }
                            }


                        </script>
                            <span class="btn btn-default btn-file">
                                Choose File...
                                <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' id="id_main_image" name="main_image" size="40" onchange='readURL(this);'>
                            </span>
                            &nbsp;


                </div>
                 <div class="col-md-3 col-md-offset-1">
                    <img id="upload-file-info" src="" width="180px" >
                 </div>

            </div>

            <br>

                <div class="row"><label for="id_color">Additional photos</label>
                    {{ form_pictures }}


            <div class="row">
                <div class="form-group col-md-5">
                    <button type="submit" class="btn btn-info">Додати нове взуття</button>
                 </div>
            </div>
        </form>





                    <!--- END OF FORM EDIT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                      --->
                  </div>

        </div>

         <div>

              <a class="btn btn-default" data-toggle="collapse" data-target="#demo_1" class="accordion-toggle">Додати тільки розмір моделі</a>
        </div>


                  <div class="accordian-body collapse" id="demo_1">


        <form action="" method="POST" class="form-horizontal" role="form">
            {% csrf_token %}

              <input type="hidden" name="add_size" id="id_add_size" value="True">
                      <div class="row">
                <div class="form-group col-md-3">

                    <label for="id_size">{{ shoes_size_form.size.label }}</label>
                    <input type="text" class="form-control" id="id_size" maxlength="200" name="size"
                           placeholder="size">
                    {% if shoes_size_form.size.errors %}
                        {% for error in shoes_size_form.size.errors %}
                           <strong><p style="font-size: small"> {{ error|escape }} </p></strong>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-3 col-md-offset-1">
                    {{ shoes_size_form.height_shoe.errors }}
                    <label for="id_height_shoe">{{ shoes_size_form.height_shoe.label }}</label>
                    <input type="text" class="form-control" id="id_height_shoe" maxlength="200" name="height_shoe"
                           placeholder="height_shoe">
                </div>
                 <div class=" col-md-3 col-md-offset-1">
                    {{ shoes_size_form.height_heel.errors }}
                    <label for="id_height_heel">{{ shoes_size_form.height_heel.label }}</label>
                    <input type="text" class="form-control" id="id_height_heel" maxlength="200" name="height_heel"
                           placeholder="height_heel">
                </div>
                </div>
                <div class="row">
                <div class="form-group col-md-3 ">
                    {{ shoes_size_form.len_of_stelka.errors }}
                    <label for="id_len_of_stelka">{{ shoes_size_form.len_of_stelka.label }}</label>
                    <input type="text" class="form-control" id="id_len_of_stelka" maxlength="200" name="len_of_stelka"
                           placeholder="len_of_stelka">
                </div>
                <div class=" col-md-3 col-md-offset-1">
                    {{ shoes_size_form.len_of_feet.errors }}
                    <label for="id_len_of_feet">{{ shoes_size_form.len_of_feet.label }}</label>
                    <input type="text" class="form-control" id="id_len_of_feet" maxlength="200" name="len_of_feet"
                           placeholder="len_of_feet">
                </div>
                <div class="col-md-3 col-md-offset-1">

                    <label for="id_quantity">{{ shoes_size_form.quantity.label }}</label>
                    <input type="text" class="form-control" id="id_size" maxlength="200" name="quantity"
                           placeholder="Наявна кількість">
                    {% if shoes_size_form.quantity.errors %}
                        {% for error in shoes_size_form.quantity.errors %}
                           <strong><p style="font-size: small"> {{ error|escape }} </p></strong>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

             <div class="row">
                <div class="form-group col-md-5">
                    <button type="submit" class="btn btn-info">Додати новий розмір моделі</button>
                 </div>
            </div>
         </form>


    </div>


    {% endif %}


{% endblock %}